demo_project/.godot/*
demo_project/*/*.uid
demo_project/*/*.import
.sconsign.dblite
*.obj
*.uid
*.pdb
*.pyd
*.pyc
*.dll
*.lib
third_party/*
build/*
bin/*
.vscode/intellisense/*
UsdImporter/bin
usd
msvc_capture.log
addons/*
